.advantages__wrapper {
  margin: 0 auto;
  width: 280px;
}

.advantages__title {
  margin: 0 0 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  color: #444444;
  margin: 0;
  padding: 0;
}

.advantages__text {
  margin: 0;
}
