@use "../global/variables.scss";

.advantages__wrapper {
  margin: 0 20px;
}

.advantages__title {
  margin: 0 0 47px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;
}

.advantages__item {
  color: variables.$dark-grey;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.advantages__item-icon {
  background-color: variables.$basic-green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.advantages__text {
  margin: 0;
}

@media (max-width: variables.$mobile-width-only) {
  .advantages__item-number {
    display: none;
  }

  .advantages__text {
    br {
      display: none;
    }
  }
}

@media (min-width: variables.$tablet-width) {
  .advantages__wrapper {
    margin: 0 30px;
  }

  .advantages__title {
    margin-bottom: 72px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 134px;
    column-gap: 137px;
    justify-content: space-between;
    margin-right: 79px;
  }

  .advantages__item {
    display: block;
    position: relative;
  }

  .advantages__item-number {
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: variables.$basic-grey;
    top: -40px;
    right: 0;
    z-index: -1;
  }

  .advantages__item-number--first {
    right: 21px;
  }

  .advantages__item-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: variables.$desktop-width) {
  .advantages__wrapper {
    margin: 0 auto;
    width: 1220px;
  }

  .advantages__list {
    margin: 0;
    gap: 79px;
    grid-template-columns: repeat(4, 1fr);
  }

  .advantages__title {
    margin-bottom: 72px;
  }
}
