@use "../global/variables.scss";
@use "../global/mixins.scss";

.another-products {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: variables.$basic-green;
    right: 0;
    width: 100%;
    top: 20px;
    overflow: hidden;
    z-index: -1;
  }
}

.another-products__title {
  margin: 0 0 33px;
}

.another-products__title-text {
  display: inline-block;
  background-color: variables.$white;
  margin: 0;
  margin-right: 20px;
  padding: 0 20px;
}

.another-products__list {
  @include mixins.container-mobile;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.another-products__item {
  padding: 13px 0 17px;
  border-top: none;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

@media (min-width: variables.$tablet-width) {
  .another-products__list {
    @include mixins.container-tablet;
  }

  .another-products__title {
    margin-bottom: 80px;
  }

  .another-products__title-text {
    margin: 0 30px;
    padding: 0 36px 0 37px;
  }

  .another-products__item {
    padding: 27px 38px;
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: variables.$desktop-width) {
  .another-products__wrapper {
    margin: 0 auto;
    width: 1220px;
  }

  .another-products__list {
    width: 896px;
    padding: 0;
    box-sizing: content-box;
  }

  .another-products__title {
    margin-bottom: 78px;
  }

  .another-products__title-text {
    margin: 0;
    margin-left: -40px;
    padding: 0 35px 0 40px;
  }

  .another-products__item {
    padding: 16px 0 17px;
    border: none;
    border-bottom: 1px solid #cdcdcd;
  }
}
