.another-products__wrapper {
  padding-top: 25px;
  margin-bottom: 35px;
}

.another-products__title {
  margin: 0;
  margin-bottom: 36px;
}

.another-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
