@use "../global/variables.scss";

.button {
  text-decoration: none;
  color: variables.$white;
  cursor: pointer;
  background-color: variables.$basic-green;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  min-width: 168px;
  display: block;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }
}

.button--more {
  width: 100%;
  background-color: variables.$basic-grey;
  color: variables.$dark-grey;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgb(68, 68, 68, 0.3);
  }
}

@media (min-width: variables.$tablet-width) {
  .button {
    font-size: 20px;
    padding: 8px 0;
  }

  .button-catalog {
    font-size: 16px;
  }
}
