@use "../global/variables.scss";
@use "../global/mixins.scss";

.comment-section {
  position: relative;

  @include mixins.green-line;
}

.comment__title {
  margin: 0 0 38px;
}

.comment__title-text {
  background-color: variables.$white;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  padding: 0 20px;
}

.comment__form {
  width: calc(100% - 40px);
  height: 150px;
  display: block;
  margin: 0 20px;
  padding: 9px 12px 9px 15px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$black;
  border: 1px solid #e7e7e7;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid #444444;
  }
}

@media (min-width: variables.$tablet-width) {
  .comment__title {
    margin-bottom: 73px;
  }

  .comment__title-text {
    margin: 0 30px;
    padding: 0 40px;
  }

  .comment__form {
    width: calc(100% - 138px);
    height: 174px;
    margin: 0 71px;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: variables.$desktop-width) {
  .comment__title {
    margin: 0 auto;
    width: 1220px;
    margin-bottom: 71px;
  }

  .comment__title-text {
    margin: 0;
    margin-left: -40px;
  }

  .comment__form {
    width: 1220px;
    margin: 0 auto;
    padding: 8px 20px;
  }
}
