@use "../global/variables.scss";

.contacts-section__title {
  margin: 0 0 35px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: variables.$basic-green;
    right: 0;
    width: 100%;
    top: 40%;
    overflow: hidden;
    z-index: -1;
  }
}

.contacts-section__title--text {
  background-color: variables.$white;
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  margin-right: 20px;
}

@media (min-width: variables.$tablet-width) {
  .contacts-section__title {
    margin: 0 0 74px;
    letter-spacing: 0.2px;

    br {
      display: none;
    }

    &::after {
      top: 50%;
    }
  }

  .contacts-section__title--text {
    margin: 0 30px;
    padding: 0 40px;
  }
}

@media (min-width: variables.$desktop-width) {
  .contacts-section__title {
    margin-bottom: 76px;
  }

  .contacts-section__title--text {
    margin: 0 70px;
    padding: 0 40px;
  }
}
