@use "../global/variables.scss";

.contacts {
  background-color: variables.$basic-grey;
  position: relative;
}

.contacts__wrapper {
  margin: 0 20px;
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.contacts__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  flex-shrink: 0;
  width: 125px;
}

.contacts__address {
  line-height: 20px;
  color: variables.$dark-grey;
  font-style: normal;
}

@media (min-width: variables.$tablet-width) {
  .contacts__wrapper {
    margin: 0 30px;
    padding: 59px 40px;
  }

  .contacts__slogan {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }

  .contacts__address {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
    text-align: right;
  }
}

@media (min-width: variables.$desktop-width) {
  .contacts__wrapper {
    position: absolute;
    width: 565px;
    top: 95px;
    left: 110px;
    background-color: variables.$white;
    padding: 60px 80px;
    margin: 0;
    justify-content: flex-start;
    gap: 87px;
    box-sizing: border-box;
  }

  .contacts__slogan {
    width: 163px;
  }

  .contacts__address {
    width: 155px;
    text-align: left;
  }

  .contacts__city {
    display: block;
    margin-top: 19px;
  }
}
