@use "../global/variables.scss";
@use "../global/mixins.scss";

.extra {
  position: relative;

  @include mixins.green-line;
}

.extra__title {
  margin-bottom: 35px;
}

.extra__title-text {
  background-color: variables.$white;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  padding: 0 20px;
}

.extra__list {
  border: none;
  display: grid;
  gap: 25px;
  margin: 0 20px;
  padding: 0;
}

@media (min-width: variables.$tablet-width) {
  .extra__title {
    margin: 0 0 59px;
  }

  .extra__title-text {
    padding: 0 40px;
    margin: 0 30px;
  }

  .extra__list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 124px;
    row-gap: 42px;
    margin: 0 70px;
  }
}

@media (min-width: variables.$desktop-width) {
  .extra__title {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 59px;
  }

  .extra__title-text {
    margin: 0;
    margin-left: -40px;
  }

  .extra__list {
    display: flex;
    column-gap: 104px;
    row-gap: 50px;
    margin: 0 auto;
    width: 1220px;
    flex-wrap: wrap;
  }
}
