@use "../global/variables.scss";

.extra__title {
  margin-bottom: 35px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: variables.$basic-green;
    right: 0;
    top: 50%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
}

.extra__title--text {
  background-color: variables.$white;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  padding: 0 20px;
}

.extra__list {
  border: none;
  display: grid;
  gap: 25px;
  margin: 0 20px;
  padding: 0;
}

@media (min-width: variables.$tablet-width) {
  .extra__title {
    margin: 0 0 59px;
  }

  .extra__title--text {
    padding: 0 40px;
    margin: 0 30px;
  }

  .extra__list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 124px;
    row-gap: 42px;
    margin: 0 70px;
  }
}

@media (min-width: variables.$desktop-width) {
  .extra__title {
    margin-bottom: 59px;
  }

  .extra__title--text {
    margin: 0 70px;
  }

  .extra__list {
    display: flex;
    gap: 104px;
    margin: 0 110px;
  }
}
