.form__list {
  margin-bottom: 19px;
}

.form__list--questionnaire {
  margin-bottom: 27px;
}

.form__list--contacts {
  margin-bottom: 23.5px;
}

.form__submit {
  margin-bottom: 21px;
}

small {
  font-size: 14px;
  line-height: 16px;
}
