@use "../global/variables.scss";

.main-header {
  background-color: variables.$white;
  z-index: 1;
}

.main-header__wrapper-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 15px;
}

.main-header__logo-cat {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-name {
  margin: 10px 10px 0 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: variables.$tablet-width) {
  .main-header {
    margin: 0 30px;
  }

  .main-header__logo-name {
    display: none;
  }

  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }

  .main-header__wrapper-links {
    padding: 0;
  }

  .main-header__cat-image {
    margin-right: 12px;
    width: 174px;
    height: 52px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-header__wrapper {
    margin: 0 110px;
    position: absolute;
    background-color: transparent;
    top: 53px;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1;
  }

  .main-header__cat-image {
    margin-right: 14px;
    width: 202px;
    height: 59px;
  }
}
