@use "../global/variables.scss";

.main-container__offer {
  margin-bottom: 20px;
}

.main-container__advantages {
  margin-bottom: 49px;
}

@media (min-width: variables.$tablet-width) {
  .main-container__offer {
    margin: 0;
    padding-bottom: 525px;
  }

  .main-container__advantages {
    margin-bottom: 104px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-container__offer {
    margin-bottom: 81px;
    padding-bottom: 184px;
  }

  .main-container__advantages {
    margin-bottom: 84px;
  }
}
