@use "../global/variables.scss";

.main-header {
  background-color: variables.$white;
  margin: 0 auto;
  width: 280px;
  z-index: 1;
}

.main-header__wrapper {
  margin-top: 10px;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: variables.$tablet-width) {
  .main-header {
    margin: 0 auto;
    width: 708px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-header {
    margin: auto;
    position: absolute;
    width: 1220px;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
  }
}
