@use "../global/variables.scss";

.main-footer__logo-name {
  margin-bottom: 52px;
  display: block;
}

.main-footer__contacts {
  background-color: variables.$basic-grey;
}

.main-footer__contacts--index {
  background-color: variables.$white;
}

.main-footer__social {
  background-color: variables.$basic-grey;
}

.main-footer__frame {
  display: block;
  width: 100%;
  height: 362px;
}

.main-footer__frame-image {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media (min-width: variables.$tablet-width) {
  .main-footer__frame {
    height: 400px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-footer__contacts {
    background-color: variables.$white;
  }
}
