.main-footer__logo-name {
  margin-bottom: 52px;
  display: block;
}

.main-footer__contacts--index {
  background-color: #ffffff;
}

.main-footer__social {
  background-color: #f2f2f2;
}

.main-footer__frame {
  display: block;
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .main-footer__frame {
    height: 400px;
  }
}
