@use "../global/variables.scss";
@use "../global/mixins.scss";

.main-catalog__wrapper {
  padding-top: 27px;
  position: relative;
}

.main-catalog__title {
  @include mixins.container-mobile;
  @include mixins.custom-font;
  margin: 0 0 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-catalog__products {
  margin-bottom: 22px;
}

.main-catalog__another-products {
  margin-bottom: 39px;
  position: relative;
}

.main-catalog__promotion {
  margin-bottom: 35px;
}

@media (max-width: variables.$mobile-width-only) {
  .main-catalog__wrapper {
    border-top: 1px solid #ebebeb;
  }
}

@media (min-width: variables.$tablet-width) {
  .main-catalog__wrapper {
    padding-top: 60px;
  }

  .main-catalog__products {
    margin-bottom: 68px;
  }

  .main-catalog__title {
    @include mixins.container-tablet;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 81px;
  }

  .main-catalog__another-products {
    margin-bottom: 69px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-catalog__wrapper {
    padding-top: 188px;
  }

  .main-catalog__title {
    margin: 0 auto 84px;
    padding: 0;
    width: 1220px;
  }

  .main-catalog__promotion-wrapper {
    width: 1220px;
    position: relative;
    margin: 0 auto;
  }

  .main-catalog__promotion {
    margin: 0;
  }

  .main-catalog__products {
    @include mixins.container-desktop;
    margin-bottom: 77px;
  }

  .main-catalog__another-products {
    margin-bottom: 86px;
  }
}
