@use "../global/variables.scss";

.main-product__image {
  display: block;
}

.main-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-product__list {
  margin: 0;
  padding: 0;
}

.main-product__description-title {
  font-size: 12px;
  line-height: 16px;
  color: variables.$dark-grey;
}

.main-product__description-details {
  font-size: 12px;
  line-height: 16px;
  color: variables.$dark-grey;
  margin: 0;
}

.main-product__link-more {
  text-decoration: none;
  color: inherit;
}

@media (min-width: variables.$tablet-width) {
  .main-product {
    background-color: variables.$basic-grey;
  }

  .main-product__button {
    width: 248px;
  }

  .main-product__title {
    font-size: 20px;
    line-height: 24px;
  }

  .main-product__description-title {
    font-size: 16px;
  }

  .main-product__description-details {
    font-size: 16px;
  }
}
