.main-header {
  background-color: #ffffff;
  margin: 0 auto;
  width: 280px;
}

.main-header__wrapper {
  margin-top: 10px;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
}
