.main-form__container {
  margin: 0 auto 32px;
  width: 280px;
}

.main-form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;
}

.main-form__description {
  margin: 0 0 39px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .main-form__container {
    width: 708px;
  }

  .main-form__title {
    font-size: 60px;
    line-height: 60px;
  }

  .main-form__description {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-form__container {
    width: 1220px;
  }
}
