@use "../global/variables.scss";

.offer {
  color: #ffffff;
  position: relative;
}

.offer__cat-image-wrapper {
  position: absolute;
  width: 100%;
  background-color: #4e4e53;
  object-fit: cover;
  object-position: center;


  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.offer__cat-image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.offer__wrapper {
  margin: 0 20px;
  padding-top: 27px;
  position: relative;
}

.offer__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  margin: 0 auto 25px;
  max-width: 250px;
}

.offer__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0 0 29px;
  text-align: center;
}

.offer__image {
  display: block;
  margin: 0 auto 3px;
}

.offer__to-catalog {
  width: 100%;
  min-width: 280px;
}

@media (min-width: variables.$tablet-width) {
  .offer {
    background-image: none;
  }

  .offer__cat-image {
    display: none;
  }

  .offer__wrapper {
    margin: 0 30px;
    padding-top: 62px;
  }

  .offer__slogan {
    font-size: 60px;
    line-height: 60px;
    color: variables.$black;
    text-align: left;
    margin-left: 87px;
    margin-bottom: 34px;
    max-width: 420px;
  }

  .offer__description {
    font-size: 20px;
    line-height: 30px;
    color: variables.$black;
    text-align: left;
    margin-left: 87px;
    margin-bottom: 44px;
  }

  .offer__to-catalog {
    width: 244px;
    padding: 7px 0;
    margin-left: 90px;

    span {
      font-size: 20px;
    }
  }

  .offer__image {
    width: 709px;
    height: 609px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    top: 261px;
  }
}

@media (min-width: variables.$desktop-width) {
  .offer {
    color: variables.$white;
  }

  .offer__cat-image-wrapper {
    width: 50%;
    height: 100%;
    right: 0;
  }

  .offer__cat-image {
    display: block;
    height: 100%;
  }

  .offer__wrapper {
    margin: 0 110px;
    padding-top: 223px;
  }

  .offer__slogan {
    margin-left: 80px;
    margin-bottom: 35px;
    max-width: 500px;
  }

  .offer__description {
    margin-left: 80px;
    margin-bottom: 47px;
    max-width: 500px;
  }

  .offer__to-catalog {
    margin-left: 80px;
  }

  .offer__image {
    position: absolute;
    top: 141px;
    right: 220px;
    width: 552px;
    height: 499px;
    z-index: 0;
  }
}
