@use "../global/variables.scss";

.page {
  height: 100%;
}

.page__body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: variables.$white;
  color: variables.$black;
  margin: 0;
  position: relative;
}
