@use "../global/variables.scss";
@use "../global/mixins.scss";

.promotion {
  margin: 0 20px 35px;
  padding: 65px 0 43px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/article/article-mobile.jpg");
  color: variables.$white;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .promotion {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/article/article-mobile@2x.jpg");
    background-size: cover;
  }
}

.promotion__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion__icon {
  width: 57px;
  height: 61px;
  margin: 0 0 60px;
}

.promotion__description {
  text-align: center;
  font-weight: 400;
  max-width: 161px;
}

@media (min-width: variables.$tablet-width) {
  .promotion {
    margin: 0 30px 76px;
    padding: 63px 123px 68px 90px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/article/article-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-resolution: 2dppx) {
    .promotion {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/article/article-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .promotion__link {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .promotion__icon {
    margin: 0;
  }

  .promotion__description {
    text-align: left;
    margin-top: 10px;
  }
}

@media (min-width: variables.$desktop-width) {
  .promotion {
    position: absolute;
    right: 110px;
    bottom: 0;
    padding: 63px 42px 42px;
    margin: 0;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/article/article-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center, -30px;
    background-size: cover;
  }

  .promotion__description {
    text-align: center;
  }

  @media (min-resolution: 2dppx) {
    .promotion {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/article/article-mobile@2x.jpg");
      background-size: cover;
    }
  }

  .promotion__link {
    flex-direction: column;
  }

  .promotion__icon {
    margin-bottom: 53px;
  }
}
