@use "../global/variables.scss";
@use "../global/mixins.scss";

.promotion {
  margin: 0 20px 35px;
  padding: 59px 0 43px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/main/image-article.jpg");
  color: variables.$white;
  background-repeat: no-repeat;
}

.promotion__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion__icon {
  margin: 0 0 48px;
}

.promotion__description {
  text-align: center;
  font-weight: 400;
  max-width: 161px;
}

@media (min-width: variables.$tablet-width) {
  .promotion {
    margin: 0 30px 76px;
    padding: 57px 124px 60px 70px;
  }

  .promotion__link {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .promotion__icon {
    margin: 0;
    width: 80px;
    height: 82px;
  }

  .promotion__description {
    text-align: left;
  }
}

@media (min-width: variables.$desktop-width) {
  .promotion {
    position: absolute;
    right: 110px;
    bottom: 0;
    padding: 56px 42px 42px;
    margin: 0;
  }

  .promotion__link {
    flex-direction: column;
  }

  .promotion__icon {
    margin-bottom: 46px;
  }
}
