@use "../global/variables.scss";

.promotion {
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/main/image-article.jpg");
  color: variables.$white;
}

.promotion__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

@media (min-width: variables.$tablet-width) {
  .promotion__link {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: variables.$desktop-width) {
  .promotion {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 289px;
    width: 245px;
  }
}
