@use "../global/variables.scss";

@media (min-width: variables.$desktop-width) {
  .questionnaire {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 67px;
    width: 1220px;
  }
}
