@use "../global/variables.scss";

.services-item {
  background-color: variables.$basic-grey;
  position: relative;
}

.services-item__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
}

.services-item__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}

.services-item__description {
  color: variables.$dark-grey;
  margin: 0 0 42px;
}

.services-item__circle {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  background-color: variables.$basic-green;
  border-radius: 50%;
}

.services-item__circle--loss::after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='50' viewBox='0 0 36 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2034 0H28.008C27.6778 0.187081 27.415 0.473924 27.2571 0.819588C26.968 1.37738 26.7453 1.96735 26.5937 2.57732C26.5612 2.76073 26.4688 2.92811 26.331 3.05315C26.1932 3.17818 26.0179 3.25377 25.8326 3.26804C25.2658 3.36597 24.7288 3.59243 24.2626 3.93012C23.7965 4.26781 23.4135 4.7078 23.1429 5.21649C22.7708 5.87697 22.4526 6.5665 22.1914 7.27835C21.4611 9.17526 20.9006 11.134 20.2114 13.0464C19.8874 13.9175 19.872 13.9175 18.8949 13.9175C17.7274 13.9175 17.8097 13.7371 17.7943 15.0258C17.7943 15.433 17.9177 15.6392 18.3497 15.6186C18.4834 15.6186 18.684 15.5515 18.7354 15.7268C18.7869 15.9021 18.612 15.9794 18.5091 16.0825C17.8994 16.7029 17.1276 17.1388 16.2823 17.3402C15.3051 17.6031 14.3074 17.8093 13.356 18.1289C10.9131 18.9485 8.65543 20.0928 6.89657 22.0309C5.86814 23.2347 5.04455 24.6001 4.45886 26.0722C2.57143 30.5258 1.656 35.2165 0.946286 39.9536C0.612 42.1753 0.375429 44.4072 0.195429 46.6546C0.102857 47.7577 0 48.8763 0 50H17.1411C17.1696 49.7731 17.1283 49.5429 17.0229 49.3402C16.858 48.9289 16.5901 48.5672 16.2451 48.29C15.9 48.0128 15.4895 47.8295 15.0531 47.7577C14.6931 47.6753 14.652 47.567 14.8731 47.2835C15.2338 46.801 15.5103 46.2607 15.6909 45.6856C16.5291 43.2062 16.8531 40.6186 17.2594 38.0567C17.4889 36.0999 18.0894 34.2051 19.0286 32.4742C19.7611 31.2002 20.7382 30.0842 21.9034 29.1907C22.3303 28.866 22.3457 28.866 22.4177 29.4175C22.4691 29.7835 22.4794 30.1598 22.5051 30.5309C22.6595 32.9662 22.6285 35.4097 22.4126 37.8402C22.2184 39.7242 22.1926 41.6217 22.3354 43.5103C22.5399 45.7029 22.9304 47.8739 23.5029 50H30.3429C30.2536 49.442 29.9973 48.9243 29.6078 48.5156C29.2184 48.1069 28.7143 47.8264 28.1623 47.7113C27.5177 47.6087 26.8587 47.6438 26.2286 47.8144C25.92 47.8866 25.7914 47.8144 25.7657 47.4794C25.5529 44.7505 25.7261 42.0051 26.28 39.3247C26.966 36.2304 27.4912 33.1025 27.8537 29.9536C27.9887 28.6819 28.3881 27.4528 29.0263 26.3454C29.6383 25.2526 30.1731 24.1186 30.7749 23.0206C31.0138 22.6214 31.1575 22.1723 31.195 21.7083C31.2325 21.2443 31.1626 20.7779 30.9909 20.3454C30.852 19.9794 30.7183 19.6082 30.5486 19.2577C30.0343 18.2526 29.52 17.2577 29.0469 16.2423C28.7949 15.7268 28.8514 15.6649 29.412 15.6495C30.2503 15.6495 30.2503 15.6495 30.2657 14.8041C30.2657 14.6907 30.2657 14.5773 30.2657 14.4639C30.2657 14.1082 30.132 13.9124 29.7514 13.9485C29.4943 13.9485 29.2371 13.9485 28.9697 13.9485C28.6149 13.9485 28.512 13.799 28.5994 13.433C28.7729 12.838 29.1142 12.306 29.5823 11.9009C30.0503 11.4958 30.6252 11.2349 31.2377 11.1495C32.3772 11.0505 33.5251 11.1252 34.6423 11.3711C34.7712 11.4118 34.9109 11.4001 35.0312 11.3383C35.1515 11.2766 35.2427 11.1699 35.2851 11.0412C35.4909 10.5258 35.7171 10.0103 35.9486 9.49484C36.001 9.40339 36.0242 9.29801 36.015 9.19293C36.0058 9.08785 35.9647 8.98812 35.8971 8.90722C34.2514 6.81443 32.4669 4.86082 30.0343 3.60825C29.9168 3.55754 29.8138 3.47814 29.7347 3.3773C29.6557 3.27646 29.6031 3.15738 29.5817 3.03093C29.444 2.29408 29.225 1.57487 28.9286 0.886598C28.7895 0.519904 28.5349 0.20865 28.2034 0V0Z' fill='black'/%3E%3C/svg%3E%0A");
  width: 36px;
  height: 50px;
  top: -3px;
  left: 7px;
}

.services-item__circle--gain::after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='67' height='28' viewBox='0 0 67 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M61.55 2.9A7.6 7.6 0 0 1 63.8.6c.5-.35.8-.35 1.1.3.4.95.75 1.95.45 3a1.15 1.15 0 0 0 .2 1.05c.3.4.55.8.8 1.15a3.14 3.14 0 0 1 .45 3.1c-.18.5-.22 1.03-.1 1.55.1.5.1 1 0 1.5a1.88 1.88 0 0 1-1.35 1.6 2.6 2.6 0 0 0-1.6 1 .53.53 0 0 1-.45.25c-.6.1-2.1-1.25-2.1-1.85v-.3c.05-1.8-.05-1.95-1.7-2.7a2.2 2.2 0 0 1-.9-.6c-.3-.4-.7-.35-1.15-.2-.45.15-.7.45-.65.95.15 1.21.2 2.43.15 3.65 0 .14.04.28.1.4 1.55 2.25 2.15 4.9 2.9 7.45.6 1.95 1.7 3 3.7 3.15.32.03.64.08.95.15a2.08 2.08 0 0 1 1.7 1.6c.35 1.05.15 1.3-.9 1.3h-3.25c-.42.02-.83-.12-1.15-.4a5.86 5.86 0 0 0-1.7-1 3.63 3.63 0 0 1-1.7-1.3 14.3 14.3 0 0 0-2-2.25c-1.4-1.45-2.9-2.85-4.2-4.35a5.69 5.69 0 0 1-1.6-3.8c0-.45-.1-.65-.6-.45a.96.96 0 0 1-.5.15c-1.4 0-2.1.85-2.6 2.1-.45 1.05-1.05 2.05-1.6 3.1A5.2 5.2 0 0 0 44 22c0 1.2.3 1.6 1.4 2 .7.25 1.35.5 1.7 1.2.4.8.3 1-.55 1.05h-3.4a.94.94 0 0 1-.95-.55l-.9-1.5a3.02 3.02 0 0 1-.35-2.7c.22-.87.23-1.77.05-2.65a4.2 4.2 0 0 1 .85-3.5c.3-.35.3-.5-.2-.6a25.03 25.03 0 0 1-5.95-2.1c-1.6-.6-1.9-.5-2.35 1.15-.4 1.4-.8 2.8-1.1 4.25-.35 1.6.05 3.1.55 4.6.2.6.8.55 1.25.7 1 .3 1.85.7 2.25 1.75.35.8.3.9-.55.9-.85 0-1.7-.05-2.6 0-.76.01-1.5-.23-2.1-.7-2.4-1.6-3.1-4.05-3.3-6.7-.1-1.65-1-2.95-2.05-4.2-.2-.25-.4-.35-.7-.15-1.07.6-2.2 1.1-3.35 1.5a13.35 13.35 0 0 0-6.1 4.4 5.31 5.31 0 0 0-1.1 2.55c-.15.9.1 1.3 1 1.55s1.35.75 1.45 1.7c.05.4-.1.6-.5.6h-4.05a.83.83 0 0 1-.65-.4 4.28 4.28 0 0 1-.95-2.75 25.3 25.3 0 0 1 .45-5.15 3.15 3.15 0 0 1 1.7-2.4c2.95-1.4 4.5-4.05 5.9-6.8.3-.55.05-.65-.45-.6-1.4.2-2.73.75-3.85 1.6a35.3 35.3 0 0 0-4.15 3.55 8.34 8.34 0 0 1-5.15 2.45c-3.65.2-5.35-1.85-5.2-5.15.03-1.13.46-2.2 1.2-3.05a2.12 2.12 0 0 1 2.25-.75c.75.2.95.6.65 1.35-.15.3-.35.55-.5.85-.22.3-.38.64-.5 1-.55 1.5.2 2.55 1.75 2.7 1.65.15 3-.55 4.25-1.55 1.5-1.2 2.85-2.6 4-4.15a10.4 10.4 0 0 1 7.2-4.05c1.15-.15 2.15-.65 3.25-.95 2.06-.63 4.2-.93 6.35-.9a6.5 6.5 0 0 0 2.9-.55c2.45-1 5-1 7.55-.5 2 .4 4 .9 5.95 1.4 1.16.22 2.35.18 3.5-.1 2.2-.56 4.44-.9 6.7-1a9.08 9.08 0 0 1 4.3.85c1 .45 1 .45.75 1.4Z' fill='%23000'/%3E%3C/svg%3E");
  width: 67px;
  height: 28px;
  top: 11px;
  left: -9.5px;
}

.services-item__link {
  text-decoration: none;
  color: inherit;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 4px 0;

  &:hover {
    .services-item__link-arrow {
      width: 26px;
    }
  }

  &:active {
    opacity: 0.3;

    .services-item__link-arrow {
      width: 26px;
    }
  }
}

.services-item__link-arrow {
  display: block;
  width: 18px;
  height: 2px;
  background-color: variables.$black;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 12px;
    right: -6px;
    top: -5px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 6 .25 11.2V.8L7 6Z' fill='%23000'/%3E%3C/svg%3E");
  }
}

@media (max-width: variables.$mobile-width-only) {
  .services-item {
    padding: 0 20px 18px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 57px;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  .services-item__wrapper {
    margin-top: 24px;
    margin-bottom: 22px;
  }
}

@media (min-width: variables.$tablet-width) {
  .services-item {
    padding: 77px 316px 53px 52px;
  }

  .services-item:last-child {
    margin-bottom: 0;
  }

  .services-item__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .services-item__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  .services-item__link {
    font-size: 20px;
    line-height: 30px;
  }

  .services-item__circle {
    position: absolute;
    right: 60px;
    top: 92px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: variables.$desktop-width) {
  .services-item__circle {
    position: relative;
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
  }

  .services-item {
    padding: 47px 52px 55px;
  }

  .services-item__wrapper {
    gap: 62px;
    margin-bottom: 39px;
  }

  .services-item__title {
    margin: 0;
  }

  .services-item__description {
    margin-bottom: 23px;
  }
}
