@use "../global/variables.scss";

.services {
  background-color: variables.$white;
}

.services__wrapper {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 26px;
}

@media (min-width: variables.$tablet-width) {
  .services__wrapper {
    margin: 0 30px 45px;
    gap: 30px;
  }

  .services__loss-icon {
    position: absolute;
    right: 92px;
    top: 81px;
  }

  .services__gain-icon {
    position: absolute;
    right: 28px;
    top: 135px;
  }
}

@media (min-width: variables.$desktop-width) {
  .services__wrapper {
    margin: 0 auto 71px;
    width: 1220px;
    flex-direction: row;
    gap: 80px;
  }

  .services__loss-icon {
    position: static;
  }

  .services__gain-icon {
    position: static;
  }
}
