@use "../global/variables.scss";

.slider {
  margin: 0 auto;
}

.slider__button {
  display: block;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .slider {
    height: 512px;
  }
}

@media (min-width: variables.$desktop-width) {
  .slider {
    width: 592px;
    flex-shrink: 0;
  }
}
