@use "../global/variables.scss";

.social {
  margin: 0 20px;
  padding-top: 39px;
  padding-bottom: 22px;
}

.social__footer-logo-name {
  display: block;
  width: 128px;
  margin: 0 auto 27px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__link {
  &:hover {
    .social__icon {
      fill: variables.$basic-green;
    }
  }

  &:active {
    .social__icon {
      fill: variables.$basic-green;
      opacity: 0.3;
    }
  }
}

.social__list {
  margin: 0 0 22px;
  padding: 23px 0 13px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

@media (max-width: variables.$mobile-width-only) {
  .social__list {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

@media (min-width: variables.$tablet-width) {
  .social {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
  }

  .social__footer-logo-name {
    margin: 0;
    margin-right: 28px;
  }

  .social__list {
    margin: 0;
    padding: 0;
    align-items: center;
  }
}

@media (min-width: variables.$desktop-width) {
  .social {
    margin: 0 auto;
    width: 1220px;
  }
}
