.social {
  margin: 0 auto;
  width: 280px;
  padding-top: 39px;
  padding-bottom: 22px;
}

.social__list {
  margin: 0 0 43px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

@media (min-width: $tablet-width) {
  .social {
    width: 708px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 1220px;
  }
}
