@use "../global/variables.scss";

.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: variables.$black;
}

@media (min-width: variables.$desktop-width) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }
}
