@use "../global/variables.scss";

@mixin container-mobile {
  padding: 0 20px;
}

@mixin container-tablet {
  padding: 0 30px;
}

@mixin container-tablet-form {
  padding: 0 70px;
}

@mixin container-desktop {
  padding: 0 110px;
}

@mixin custom-font {
  font-family: "Oswald", sans-serif;
}

@mixin green-line {
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: variables.$basic-green;
    right: 0;
    top: 50%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
}
